.item-actions-menu {
    position: absolute;
    top: var(--space-sm);
    right: var(--space-sm);
    z-index: 10;

    .item-menu-trigger {
        @extend .icon-hover;

        background-color: var(--transp-2);
        width: 30px;
        height: 30px;
        font-size: var(--h5);

        &:hover {
            color: var(--primary-950);
            background-color: var(--primary);
        }
    }
}

.item-actions-dropdown {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);

    .action-button {
        width: 100%;
        text-align: left;
        padding: var(--space-xs) var(--space-sm);
        border-radius: var(--border05);
        font-size: var(--small);
        display: flex;
        align-items: center;
        gap: var(--space-xs);

        svg {
            width: 16px;
            height: 16px;
        }

        &:hover {
            background-color: var(--transp-2);
        }
    }
}